<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 목록</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<!-- START : header -->
	<header class="p-3 text-bg-dark">
		<div class="container">
		  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			  <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
			  <li><a href="/store/items" class="nav-link px-2 text-white">상품목록</a></li>
			  <li><a href="/store/items/add" class="nav-link px-2 text-white">상품등록</a></li>
			</ul>
	
			<form action="/store/items/search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
			  <div class="row">
			  	<input type="search" name="search" class="form-control form-control-dark col mx-2"  placeholder="상품명 입력" aria-label="Search">
			  	<button type="submit" class="btn btn-warning col-3">검색</button>
			  </div>
			</form>
		  </div>
		</div>
	  </header>

	<!-- START : container -->
	<div class="container" style="max-width: 600px">
		<div class="py-5 text-center">
			<h2>상품 목록</h2>
		</div>
		<hr class="my-4">
		<!-- TABLE -->
		<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>상품명</th>
						<th>가격</th>
						<th>수량</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<tr th:each="item: ${items}">
						<td><a href="item.html" th:href="@{/store/items/} + ${item.id}" th:text="${item.id}">회원ID</a></td>
						<td><a href="item.html" th:href="@{|/store/items/${item.id}|}" th:text="${item.itemName}">상품명</a></td>
						<td th:text="${item.price}">10000</td>
						<td th:text="${item.quantity}">10</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- button -->
		<div class="row">
			<div class="d-grid gap-2">
				<button class="btn btn-secondary btn-lg float-center" type="button"
					onclick="location.href='addForm.html'"
					th:onclick="|location.href='@{/store/items/add}'|">상품 등록</button>
			</div>
		</div>
	</div>

	<!-- START : footer -->
	<div class="text-bg-dark position-absolute bottom-0 w-100">
		<footer class="py-3 my-4">
		  <ul class="nav justify-content-center pb-3 mb-3">
			<li class="nav-item"><a href="/" class="nav-link px-2 text-white">Home</a></li>
			<li class="nav-item"><a href="/store/items" class="nav-link px-2 text-white">상품목록</a></li>
			<li class="nav-item"><a href="/store/items/add" class="nav-link px-2 text-white">상품등록</a></li>
		  </ul>
		  <p class="text-center text-white">&copy;행복한 마켓 Crop.</p>
		</footer>
	  </div>
</body>
</html>